# History files
.Rhistory
# emacs autosave
*~
# Example code in package build process
*-Ex.R
.Rproj.user
GSoC application.txt
.Rbuildignore
*.log
*.synctex.gz
.gitignore
.RData
.Rbuildignore
.directory
