# History files
.Rhistory
# emacs autosave
*~
# Example code in package build process
*-Ex.R
.Rproj.user
.Rbuildignore
*.log
*.synctex.gz
*.Rproj
.gitignore
"GSoC application.txt"
.RData
.Rbuildignore
.directory
animint.Rproj
