# Sample .travis.yml for R projects.
#
# See README.md for instructions, or for more configuration options,
# see the wiki:
#   https://github.com/craigcitro/r-travis/wiki

language: c

before_install:
  - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
  - chmod 755 ./travis-tool.sh
  - ./travis-tool.sh bootstrap
install:
  - ./travis-tool.sh install_deps
  - ./travis-tool.sh install_github yihui/servr
  - ./travis-tool.sh install_github ropensci/RSelenium
  - ./travis-tool.sh install_github tdhcock/ggplot2
  - ./travis-tool.sh install_github cpsievert/animint
  - ./travis-tool.sh r_binary_install XML
script:
  - R -e 'setwd(system.file("tests", package = "animint")); source("testthat.R")'

after_failure:
  - ./travis-tool.sh dump_logs

notifications:
  email:
    on_success: change
    on_failure: change
