S3method(knit_print,animint)
export(animint2dir)
export(animint2gist)
export(animintOutput)
export(geom_tallrect)
export(geom_widerect)
export(getLegendList)
export(gg2animint)
export(gg2animint_knitr)
export(is.rgb)
export(is.showSelected)
export(makeDocs)
export(make_bar)
export(make_tallrect)
export(make_text)
export(parsePlot)
export(saveLayer)
export(scale_size_animint)
export(theme_animint)
export(toRGB)
