export(animint2dir)
export(animint2gist)
export(animintOutput)
export(geom_tallrect)
export(geom_widerect)
export(getLegendList)
export(gg2animint)
export(gg2animint_knitr)
export(is.rgb)
export(knit_print.animint)
export(makeDocs)
export(make_bar)
export(make_tallrect)
export(make_text)
export(parsePlot)
export(renderAnimint)
export(saveLayer)
export(scale_size_animint)
export(selector.aes)
export(tests_exit)
export(tests_init)
export(tests_run)
export(theme_animint)
export(toRGB)
import(ggplot2)
import(proto)
