export(geom_tallrect)
export(getLegendList)
export(gg2animint)
export(gg2animint_knitr)
export(is.rgb)
export(layer2list)
export(makeDocs)
export(make_bar)
export(make_tallrect)
export(make_text)
export(parsePlot)
export(scale_size_animint)
export(theme)
export(toRGB)
